body {
	padding: 0 30px; 
}

/* .meals {
	width:400px;

} */
#menu {
	display: grid;
	grid-template-columns: repeat(4, 1fr);	
	grid-gap: 20px;
}
.meal-radius {
	border-radius: 10px;
}
.image-align {
	width:250px;
	
}
